body,html{margin: 0;background-color:rgb(202, 202, 202) ; overflow-x: hidden;}
.container{margin: 0px 0px;}
.BCK{text-decoration: none;position: absolute;color:rgb(82, 55, 37) ;top: 740px;left: 20px;font-size: 50px;font-weight: 900;transition: color 0.3s linear;}
.BCK:hover {color: rgb(184, 127, 82);}
@media screen and (max-width: 1440px;) {}
@media screen and (max-width: 1200px;) {}
@media screen and (max-width: 998px;) {}
@media screen and (max-width: 768px;) {}
@media screen and (max-width: 576px;) {}